h4 {
    display: block;
    font-size: 1em;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: darkslategrey;
}

p {
    display: block;
    margin-bottom: 1em;
    font-family: "Arial Hebrew";
}